.backdrop {
    --opacity: 0;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 97;
    background-color: black;
    opacity: var(--opacity);

    transition: opacity var(--animation-duration) ease-in-out;
}

.backdrop.show {
    --opacity: 0.7;
}
