.side-text-block {
    --block-scale: 0;

    top: var(--bt);
    left: var(--bl);
    height: var(--bh);
    width: var(--bw);
    position: absolute;
    z-index: 98;

    transition: transform var(--animation-duration)
        cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.side-text-block.show {
    --block-scale: 1;
}
