@-webkit-keyframes centering {
    0% {
        -webkit-transform: translateY(0) translateX(0);
        transform: translateY(0) translateX(0);
    }
    100% {
        -webkit-transform: translateY(var(--center-translate-y))
            translateX(var(--center-translate-x));
        transform: translateY(var(--center-translate-y))
            translateX(var(--center-translate-x));
    }
}
@keyframes centering {
    0% {
        -webkit-transform: translateY(0) translateX(0);
        transform: translateY(0) translateX(0);
    }
    100% {
        -webkit-transform: translateY(var(--center-translate-y))
            translateX(var(--center-translate-x));
        transform: translateY(var(--center-translate-y))
            translateX(var(--center-translate-x));
    }
}
