@keyframes slide-right {
    0% {
        -webkit-transform: translateX(-70px);
        transform: translateX(-70px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@media (min-width: 768px) {
    @keyframes slide-right {
        0% {
            -webkit-transform: translateX(-80px);
            transform: translateX(-80px);
        }
        100% {
            -webkit-transform: translateX(0);
            transform: translateX(0);
        }
    }
}

@media (min-width: 1440px) {
    @keyframes slide-right {
        0% {
            -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
        }
        100% {
            -webkit-transform: translateX(0);
            transform: translateX(0);
        }
    }
}
