@import "tailwindcss";
@import "./assets/animations/fade-in.css";
@import "./assets/animations/fade-out.css";
@import "./assets/animations/scale-up-tl.css";
@import "./assets/animations/slide-left.css";
@import "./assets/animations/slide-right.css";

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
    font-family: "Palui";
    src: url("./assets/fonts/PaluiSPDemo-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Spotify";
    src: url("./assets/fonts/SpotifyMixUICyrillic-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@theme {
    --font-palui: "Palui", sans-serif;
    --font-spotify: "Spotify", sans-serif;
}

.scale-up-tl {
    -webkit-animation: scale-up-tl 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    animation: scale-up-tl 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.fade-in {
    -webkit-animation: fade-in var(--delay-before-search)
        cubic-bezier(0.39, 0.575, 0.565, 1) both;
    animation: fade-in var(--delay-before-search)
        cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.fade-out {
    -webkit-animation: fade-out var(--delay-before-search)
        cubic-bezier(0.39, 0.575, 0.565, 1) both;
    animation: fade-out var(--delay-before-search)
        cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.slide-left {
    -webkit-animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.slide-right {
    -webkit-animation: slide-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
        both;
    animation: slide-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
